:root {
    --color-engineering-light: #e9e6e7;
    --color-engineering: #928285;
    --color-engineering-dark: #644f54;
    --color-berry: #ab377a;
}

html,
body {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

body {
    color: var(--color-engineering-dark);
    background-image: linear-gradient(45deg, var(--color-engineering-light), white 90%);
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-size: 70px
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
    color: var(--color-engineering-dark);
}

/* Colors {{{ */

.color-berry {
    color: var(--color-berry);
}

.color-engineering-dark {
    color: var(--color-engineering-dark);
}

.color-engineering-light {
    color: var(--color-engineering-light);
}

.bg-engineering-dark {
    background: var(--color-engineering-dark);
}

/* }}} */

/* Button {{{ */

.btn,
button {
    color: var(--color-engineering-dark);
    background: none;
    border: none;
    font-size: 1.3rem;
    border: 1px solid var(--color-engineering);
    border-radius: 5px;
}

.btn:hover,
button:hover {
    background: rgba(255, 255, 255, 0.5);
    color: var(--color-engineering-dark);
    border-color: var(--color-engineering-dark);
}

.btn-lg {
    color: var(--color-berry);
    background: none;
    border: 1px solid var(--color-engineering);
    font-size: 6rem;
}

/* }}} */

/* Border {{{ */

.border {
    border: 1px solid var(--color-engineering-dark);
}

/* }}} */

/* Autologout {{{ */

#autologout-bar-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200px;
}

.autologout-bar-ruler {
    height: 8px;
    width: 6px;
    background: var(--color-engineering);
    border-radius: 30%;
}


/* }}} */

/* Plotly {{{ */

.modebar {
    display: none;
}

/* }}} */

/* Bootstrap adjustments {{{ */

.nav-link.active {
    color: white !important;
    background: var(--color-berry) !important;
}

.nav-link {
    color: var(--color-berry) !important;
}

.nav-item a {
    color: var(--color-berry) !important;
}

.modal-content {
    background: var(--color-engineering-light) !important;
    border-radius: 3ex;
}

a {
    color: var(--color-berry) !important;
}

/* }}} */
