{% extends "_base.html" %}

{% block header %}
    <style>
        .scroll {
            max-height: 100%;
            overflow-y: scroll;
            overflow-x: hidden;
            width: 100%;
        }

        .item {
            background: none;
            border: none;
            font-size: 1.3rem;
            border-radius: 500px;
            padding: 5px 10px;
            max-width: 250px;
            margin: 5px;
            cursor: pointer;
        }

        .item:active {
            color: var(--color-highlight);
        }

        .initial-character {
            border-right: 2px solid;
            min-width: 2.5ch;
        }
    </style>
{% endblock header %}

{% block title %}
    <h1>Users</h1>
{% endblock title %}

{% block main_content %}
    <div class="d-flex flex-column scroll">
        {% if top_manual_users|length > 0 %}
            <h3>Most frequent users</h3>
            <div class="d-flex flex-column">
                <div class="d-flex flex-row flex-wrap">
                    {% for user in top_manual_users %}
                        <div class="item"
                             onclick="window.location.href = '../coffee.html?tag={{ user.tag.hex() }}&manually'">
                            {{- user.name }} {{ user.prename -}}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <h3 class="mt-5">All users</h3>
        <div class="d-flex flex-column">
            {% for char, userlist in users %}
                <div class="d-flex justify-content-start my-2">
                    <div class="h3 py-2 pr-2 mr-2 initial-character">{{ char }}</div>
                    <div class="d-flex flex-row flex-wrap">
                        {% for user in userlist %}
                            <div class="item"
                                 onclick="window.location.href = '../coffee.html?tag={{ user.tag.hex() }}&manually'">
                                {{- user.name }} {{ user.prename -}}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock main_content %}
