{% extends "_base.html" %}

{% block header %}
    <script>
        $(() => {
            const socket = io.connect(window.location.host);
            socket.on('card_connected', (msg) => {
                window.location.href = `../coffee.html?tag=${msg['tag']}&can-oneswipe`;
            });
        });

        function plotlyLoaded() {
            const data = [{
                /* beautify ignore:start */
                x: {{ dataset | map(attribute = 1) | list | tojson }},
                y: {{ dataset | map(attribute = 0) | list | tojson }},
                /* beautify ignore:end */
                type: "scatter",
                mode: "lines",
                line: {
                    shape: 'spline'
                },
                fill: 'tozeroy',
                marker: {
                    color: "#c6978e",
                },
            }];
            const layout = {
                showlegend: false,
                plot_bgcolor: "rgba(0,0,0,0)",
                paper_bgcolor: "rgba(0,0,0,0)",
                bargap: 0,
                margin: {
                    t: "20",
                },
                autosize: true,
                xaxis: {
                    color: "#ecd9d1",
                    gridcolor: "#ecd9d150",
                },
                yaxis: {
                    color: "#ecd9d1",
                    showgrid: false,
                    zeroline: false,
                    showline: false,
                    autotick: true,
                    ticks: '',
                    showticklabels: false
                },
                barcornerradius: 20,
            };
            const config = {
                displayModeBar: false
            };
            Plotly.newPlot('stats', data, layout, config);
        };

        setInterval(() => {
            var d = new Date();
            $("#clock").text(d.toLocaleString('de-DE', {
                hour: '2-digit',
                minute: '2-digit'
            }));
        }, 1000)
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/2.35.3/plotly.min.js"
            async
            onload="plotlyLoaded();"
            integrity="sha512-7H/XbvOmUsf6mawBvmmx9BsPt9ew2NTwQ3QDSzNe6iyacDbCJU+7pBbZY1NdmTpuj7snxSsXasMYMiR2tv906g=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    <style>
        #clock {
            margin-left: auto;
            align-self: flex-start;
            padding: 10px 20px;
            border-radius: 300px 0 0 300px;
            background: var(--color-highlight);
            font-size: 20px;
        }

        #info {
            position: absolute;
            background: var(--color-highlight);
            bottom: 20px;
            right: 0px;
            text-align: left;
            padding: 10px 20px;
            border-radius: 300px 0 0 300px;
            font-size: 10px;
        }

        #info .info-label {
            font-size: 8px;
            margin-top: 5px;
            line-height: 0.8;
        }

        #stats {
            margin: 0 20px 0 -20px;
        }

        #title {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 10vw;
        }
    </style>
{% endblock header %}

{% block title %}
    <div id="title">
        <h1 class="display-1">Welcome</h1>
        <h3>Tap your card or select manually to continue</h3>
    </div>
    <div id="clock"></div>
{% endblock title %}

{% block main_nav_items %}
    {{ nav_item("selectuser", "fas fa-list", type="button", onclick="window.location.href='../selectuser.html'") }}
    {{ nav_item("manage", "fas fa-gear", type="button", onclick="window.location.href='../coffee/manage.html'") }}
{% endblock main_nav_items %}

{% block main_content %}
    <div id="info">
        <div class="info-label">Hostname</div>
        <div class="info-field">{{ hostname }}</div>
        <div class="info-label">Version</div>
        <div class="info-field">{{ version }}</div>
    </div>
    <div id="stats" class="flex-grow-1"></div>
{% endblock main_content %}
