{% extends "_base.html" %}

{% block header %}
    <script>
        function getMachineStatus() {
            $.post(window.location.href, {
                coffeemaker: 'machine_status'
            }, (data) => {
                $('#coffeemaker-status').empty();
                for (d of data) {
                    $('#coffeemaker-status').append(`<li>${d}</li>`);
                }
            });
        }
        $(() => {
            setInterval(getMachineStatus, 5000);
            getMachineStatus();
        });
    </script>
{% endblock header %}

{% block title %}
    <h2>Manage</h2>
{% endblock title %}

{% block main_content %}
    <div class="form-group row">
        <div class="col">
            <h3>Coffeemaker</h3>
            <div class="d-flex flex-col gap-3 form-group">
                <button class="btn"
                        onclick="$.post(window.location.href, {coffeemaker:'unlock'});">
                    <div class="fas fa-unlock"></div>
                    Unlock
                </button>
                <button class="btn"
                        onclick="$.post(window.location.href, {coffeemaker:'lock'});">
                    <div class="fas fa-lock"></div>
                    Lock
                </button>
            </div>
            <h4 class="mt-3">Status</h4>
            <ul id="coffeemaker-status">
            </ul>
        </div>
    </div>
{% endblock main_content %}
