{% extends "_base.html" %}

{% block header %}
    <style>
        button[name='undo'] {
            background: transparent;
            color: var(--color-fg);
        }

        #btn-coffee-icon {
            font-size: 4rem;
        }

        #btn-coffee-text {
            font-size: 2rem;
        }

        #timeout-bar {
            height: 5px;
            border-radius: 10px;
            background-color: var(--color-fg);
        }
    </style>
    <script>
        $(() => {
            const timeout = 5;
            setTimeout(() => {
                $.post(window.location, data = {
                    "coffee": ""
                });
                window.location.href = '../';
            }, timeout * 1000);
            setInterval(() => {
                var width = $("#timeout-bar").width() / $("#timeout-bar").parent().width() * 100;
                $("#timeout-bar").css("width", width - 100 * 10 / (timeout * 1000) + "%");
            }, 10);
        });
    </script>
{% endblock header %}

{% block main_nav_items %}
{% endblock main_nav_items %}

{% block main_content %}
    <div class="w-100 h-100 d-flex flex-row align-items-center justify-content-center self-align-center">
        <div class="d-flex flex-column text-center">
            <form method="post">
                <button class="p-3" type="submit" name="undo">
                    <div id="btn-coffee-icon" class="display-1 fas fa-undo-alt"></div>
                    <div id="btn-coffee-text" class="h3">Undo</div>
                </button>
            </form>
            <div id="timeout-bar-container" class="p-3">
                <div id="timeout-bar"></div>
            </div>
        </div>
    </div>
{% endblock main_content %}
