{% extends "_basic.html" %}

{% block header %}
    <style>
        #uuid {
            font-size: 5rem;
            font-weight: bold;
            flex-grow: 1;
            text-align: center;
            align-self: center;
        }
    </style>
{% endblock header %}

{% block title %}
    <h1>Card not found</h1>
{% endblock title %}

{% block main_nav_items %}
    {{ nav_item("adduser", "fas fa-user-plus", type="button", onclick="window.location.href='../edituser.html?tag="+uuid+"'") }}
    {{ nav_item("back", "fas fa-left-long", class="mt-auto", type="button", onclick="window.location.href='..'") }}
{% endblock main_nav_items %}

{% block main_content %}
    <code id="uuid">{{ uuid }}</code>
{% endblock main_content %}
