{% extends "_basic.html" %}

{% block header %}
    <style>
        .coffee-container {
            display: flex;
            margin-right: 80px;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 50px 50px;
            overflow-y: auto;
        }

        ::-webkit-scrollbar {
            width: 0;
        }

        .coffee-icon-container {
            width: 170px;
            height: 170px;
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            position: relative;
        }

        .coffee-icon-container:active,
        .coffee-icon-container:focus {
            filter: saturate(2);
        }

        .coffee-icon-container .coffee-icon-icon {
            filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.25));
        }

        .coffee-icon-text {
            margin-top: auto;
            font-size: 15px;
            text-transform: uppercase;
            text-align: center;
            line-height: 0.9;
        }
    </style>
    <script>
        $(document).ready(() => {
            $('.coffee-icon-container').click(event => {
                const coffeeId = $(event.currentTarget).attr('coffee-id');
                var form = $('.coffee-container').first();
                form.append($(`<input type="hidden" name="coffeeid" value="${coffeeId}">`));
                form.submit();
            });
        });
    </script>
{% endblock header %}

{% block main_nav_items %}
    {{ nav_item('pay', 'fas fa-euro') }}
    {{ nav_item('edituser', 'fas fa-user-pen') }}
    {{ nav_item('stats', 'fas fa-chart-line') }}
    {{ nav_item("logout", "fas fa-right-to-bracket flipx",
        class="mt-auto", type="button", onclick="window.location.href='..'") }}
{% endblock main_nav_items %}

{% block main_content %}
    <form method="post" class="coffee-container">
        {% for variant in variants_favorites %}
            <div type="submit"
                 class="coffee-icon-container"
                 coffee-id="{{ variant.id }}">
                <div class="coffee-icon-icon icon-{{ variant.icon }}"></div>
                <div class="coffee-icon-text">
                    {{ variant.name }}
                    <sup class="fas fa-heart"></sup>
                </div>
            </div>
        {% endfor %}
        {% for variant in variants %}
            <div type="submit"
                 class="coffee-icon-container"
                 coffee-id="{{ variant.id }}">
                <div class="coffee-icon-icon icon-{{ variant.icon }}"></div>
                <div class="coffee-icon-text">{{ variant.name }}</div>
            </div>
        {% endfor %}
    </form>
{% endblock main_content %}
