<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.6.0-dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-free-5.15.2-web/css/all.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='coffeebuddy.css') }}">
        <script src="{{ url_for('static', filename='jquery-3.6.0.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap-4.6.0-dist/js/bootstrap.bundle.min.js') }}"></script>
    </head>
    <body>
        <div class="container">
            <h1 class="display-1">Edit User</h1>
            <form method="post">
                <div class="form-group">
                    <label>Tag ID</label>
                    <input class="form-control form-control-lg" type="text" name="tag" placeholder="Enter tag id" required value="{{ data['tag'] }}">
                    <small class="form-text text-muted">Enter UID as HEX-String, e.g. <code>01020304</code> or <code>01 02 03 04</code></small>
                </div>
                <h3>Name</h3>
                <div class="form-group row">
                    <div class="col">
                        <label>First name</label>
                        <input class="form-control" type="text" name="first_name" placeholder="Enter first name" required value="{{ user.prename }}" autocomplete="off">
                    </div>
                    <div class="col">
                        <label>Last name</label>
                        <input class="form-control" type="text" name="last_name" placeholder="Enter last name" required value="{{ user.name }}" autocomplete="off">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3>Options</h3>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="oneswipe" {{ 'checked' if user.option_oneswipe }}>
                            <label class="form-check-label">One swipe</label>
                        </div>
                    </div>
                    <div class="col">
                        <h3>Misc</h3>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">€</span>
                            </div>
                            <input class="form-control col-5" type="number" name="initial_bill" placeholder="Your initial bill in €" autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="mt-3 text-right">
                    <button type="submit" class="btn btn-primary">Ok</button>
                    <input type="button" class="btn btn-secondary" onclick="window.location.replace('/')" value="Cancel" />
                </div>
            </form>
        </div>
    </body>
</html>
