<!doctype html>
<html lang="en">

<head>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.min.js"
        integrity="sha512-fB746S+jyTdN2LSWbYSGP2amFYId226wpOeV4ApumcDpIttPxvk1ZPOgnwqwQziRAtZkiFJVx9F64GLAtoIlCQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='coffeebuddy.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/simple-keyboard@latest/build/index.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-keyboard@latest/build/css/index.css">


    <script>
        var socket;
        $(() => {
            socket = io.connect(window.location.host);
        });
        function updatetag(num) {
            console.log("update tag");
            $("#modal-tag").modal("show");
            socket.on('card_connected', (msg) => {
                console.log(`connected: ${msg}`);
                if (num == 1)
                    $("input[name='tag']").val(msg["tag"]);
                else
                    $("input[name='tag2']").val(msg["tag"]);
                updatetag_abort();
            });
        }
        function updatetag_abort() {
            $("#modal-tag").modal("hide");
            socket.off('card_connected');
        }
    </script>
    <script>
        var simple_keyboard_element = null;
        var myKeyboard;

        $(() => {
            const Keyboard = window.SimpleKeyboard.default;

            myKeyboard = new Keyboard({
                onChange: input => onChange(input),
                onKeyPress: button => onKeyPress(button),
                layout: {
                    'default': [
                        "1 2 3 4 5 6 7 8 9 0 \u00DF {bksp}",
                        "q w e r t z u i o p \u00FC",
                        "a s d f g h j k l \u00F6 \u00E4",
                        "{shift} y x c v b n m , . -",
                        ".com @ {{ config['USER_EMAIL_DEFAULT_DOMAINS'] | join(' ') }} {space} {enter}",
                    ],
                    'shift': [
                        "1 2 3 4 5 6 7 8 9 0 \u00DF {bksp}",
                        "Q W E R T Z U I O P \u00DC",
                        "A S D F G H J K L \u00D6 \u00C4",
                        "{shift} Y X C V B N M , . -",
                        ".com @ {{ config['USER_EMAIL_DEFAULT_DOMAINS'] | join(' ') }} {space} {enter}",
                    ]
                },
                display: {
                    "{bksp}": "\u232B",
                    "{enter}": "OK",
                    "{space}": "space",
                    "{shift}": "shift",
                },
                buttonTheme: [
                    {
                        class: "simple-keyboard-bigkey",
                        buttons: "{enter}"
                    }
                ]
            });

            function onChange(input) {
                $("#simple-keyboard-input").val(input);
            }

            function onKeyPress(button) {
                if (button == "{enter}") {
                    simple_keyboard_element.val($("#simple-keyboard-input").val());
                    $("#modal-simple-keyboard").modal("hide");
                }
                if (button === "{shift}") handle_shift();
            }
        });

        function handle_shift() {
            let currentLayout = myKeyboard.options.layoutName;
            let shiftToggle = currentLayout === "default" ? "shift" : "default";

            myKeyboard.setOptions({
                layoutName: shiftToggle
            });
        }

        function simple_keyboard_process(el) {
            simple_keyboard_element = $(el);
            $("#modal-simple-keyboard").modal("show");
            $("#modal-simple-keyboard h2").html($(el).attr("placeholder"));
            myKeyboard.setInput($(el).val());
            $("#simple-keyboard-input").val(myKeyboard.getInput());
        }
    </script>

    <script>
        function validate_email(email) {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', "/api/check_email", false);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({ "email": email }));
            if (xhr.status != 200) {
                return false;
            }
            return JSON.parse(xhr.responseText);
        }

        {% if not flask_login.current_user.is_authenticated %}
        $(() => {
            $("#edituser-form").submit((event) => {
                var res = validate_email($("#form-item-email").val());
                if (res == false) return;
                if (!res.valid) {
                    $("#form-item-email").addClass("is-invalid");
                    event.preventDefault();
                    event.stopPropagation();
                }
            });
        });
        {% endif %}

        function fill_from_mail() {
            var res = validate_email($("#form-item-email").val());
            if (res == false) return;
            if (!res.valid) {
                $("#form-item-email").addClass("is-invalid");
                return;
            }
            $("#form-item-email").removeClass("is-invalid");
            $("#form-item-email").addClass("is-valid");
            $("#form-item-firstname").val(res.firstname)
            $("#form-item-lastname").val(res.lastname)
        }
    </script>
    <script>
        // Update referrer entry in form
        $(() => {
            $('#edituser-form input[name=referrer]').val(document.referrer);
        });
    </script>
    <style>
        .simple-keyboard-bigkey {
            color: var(--color-berry);
            font-weight: 800;
            font-size: 1.3rem;
        }

    </style>
</head>

<body>
    <div class="container">
        <div class="d-flex flex-row align-items-end">
            <div class="flex-grow display-1">{{ "Edit User" if user.id else "Add User" }}</div>
            <div id="userid-container" class="ml-auto mt-3">
                <div class="d-inline">Database ID:</div>
                <code class="d-inline h3">{{ user.id }}</code>
            </div>
        </div>
        <form id="edituser-form" method="post">
            <input name="id" type="hidden" value="{{ user.id }}" />
            <input name="referrer" type="hidden" value="/" />
            <div class="form-group row">
                <div class="col">
                    <label>Tag ID</label>
                    <input class="form-control form-control-lg" type="text" name="tag" placeholder="Enter tag id"
                        required value="{{ hexstr(user.tag) }}">
                    <small class="form-text text-muted">Enter UID as HEX-String, e.g. <code>01020304</code> or
                        <code>01 02 03 04</code></small>
                    <input type="button" class="btn btn-secondary" onclick="updatetag(1)" value="Update Tag"></input>
                </div>
                <div class="col">
                    <label>Tag2 ID</label>
                    <input class="form-control form-control-lg" type="text" name="tag2" placeholder="Enter tag id"
                        value="{{ hexstr(user.tag2) }}">
                    <small class="form-text text-muted">Enter UID as HEX-String, e.g. <code>01020304</code> or
                        <code>01 02 03 04</code></small>
                    <input type="button" class="btn btn-secondary" onclick="updatetag(2)" value="Update Tag"></input>
                </div>
            </div>
            <div class="form-group row">
                <div class="col">
                    <label>E-Mail</label>
                    <div class="row">
                        <div class="col">
                            <div class="input-group has-validation">
                                <input class="form-control form-control-lg" id="form-item-email" type="email"
                                    name="email" placeholder="Enter E-Mail address" required
                                    value="{{ user.email or '' }}" autocomplete="off"
                                    onclick="simple_keyboard_process(this)">
                            </div>
                            <div class="invalid-tooltip">
                                E-Mail address could not be found.
                            </div>
                        </div>
                        <div class="col-auto">
                            <input type="button" class="btn" onclick="fill_from_mail()" value="Fill from email" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col">
                    <label>First name</label>
                    <input id="form-item-firstname" class="form-control" type="text" name="first_name"
                        placeholder="Enter first name" required value="{{ user.prename }}" autocomplete="off"
                        onclick="simple_keyboard_process(this)">
                </div>
                <div class="col">
                    <label>Last name</label>
                    <input id="form-item-lastname" class="form-control" type="text" name="last_name"
                        placeholder="Enter last name" required value="{{ user.name }}" autocomplete="off"
                        onclick="simple_keyboard_process(this)">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3>Options</h3>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="oneswipe" {{ 'checked' if
                            user.option_oneswipe }}>
                        <label class="form-check-label">One swipe</label>
                    </div>
                </div>
            </div>
            <div class="row my-3 py-3 {{ 'd-none' if not flask_login.current_user.is_authenticated }}"
                style="border: 1px solid var(--color-berry); border-radius: 10px;">
                <div class="col">
                    <h3 class="color-berry">Admin settings</h3>
                    <div class="my-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="enabled" {{ 'checked' if user.enabled
                                }}>
                            <label class="form-check-label">Account Enabled</label>
                        </div>
                    </div>
                    <div class="my-3">
                        <label>Bill</label>
                        <div class="input-group w-50">
                            <input class="form-control" type="number" id="form-item-unpayed" name="unpayed"
                                step="0.01" pattern="[+-][0-9]+\.[0-9]+ €" placeholder="0.00 €" autocomplete="off"
                                value="{{ '%0.02f' | format(user.unpayed) }}" />
                            <div class="input-group-append">
                                <div class="input-group-text">EUR</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-3 text-right">
                <button type="submit" class="btn btn-primary">Ok</button>
                <input type="button" class="btn btn-secondary" onclick="window.location.replace(document.referrer)"
                    value="Cancel" />
            </div>
        </form>
    </div>
    <!-- Modal update tag -->
    <div class="modal fade" id="modal-tag" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content p-3">
                <h2 class="color-berry">Tap new tag.</h2>
                <div class="d-flex flex-column justify-content-center text-center h-100">
                    <div class="display-1 color-berry fas fa-address-card mb-3"></div>
                </div>
                <div class="container">
                    <button class="float-right btn btn-primary" onclick="updatetag_abort()">Abort</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal keyboard -->
    <div class="modal fade" id="modal-simple-keyboard" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered mw-100" role="document">
            <div class="modal-content p-4">
                <h2></h2>
                <input id="simple-keyboard-input" class="input my-3 p-2" type="text" aria-label="Large" autofocus />
                <div class="simple-keyboard"></div>
            </div>
        </div>
    </div>
</body>

</html>
