
{% extends "_basic.html" %}

{% block header %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/jquery.dataTables.min.css"
          integrity="sha512-1k7mWiTNoyx2XtmI96o+hdjP8nn0f3Z2N4oF/9ZZRgijyV4omsKOXEnqL1gKQNPy2MTSP9rIEWGcH/CInulptA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/dataTables.bootstrap.min.css"
          integrity="sha512-BMbq2It2D3J17/C7aRklzOODG1IQ3+MHw3ifzBHMBwGO/0yUqYmsStgBjI0z5EYlaDEFnvYV7gNYdD3vFLRKsA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js"
            integrity="sha512-BkpSL20WETFylMrcirBahHfSnY++H2O1W+UnEEO4yNIl+jI2+zowyoGJpbtk6bx97fBXf++WJHSSK2MV4ghPcg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    <script>
        const formatEuro = new Intl.NumberFormat(
            'de-DE', {
                style: 'currency',
                currency: 'EUR',
                minimumFractionDigits: 2
            }
        );
        /* beautify ignore:start */
        const bills = {{ bills | tojson }};
        const drinks = {{ drinks | tojson }};
        const bills_disabled = {{ bills_disabled | tojson }};
        /* beautify ignore:end */

        $(() => {
            $('#table-bills').DataTable({
                data: bills,
                columns: [{
                    title: 'Name',
                    data: 'name',
                    render: (data, type, row) => {
                        return `<a href="/edituser.html?tag=${row['tag']}">${data}</a>`;
                    }
                }, {
                    title: 'Prename',
                    data: 'prename'
                }, {
                    title: 'Email',
                    data: 'email'
                }, {
                    title: 'Bill',
                    data: 'bill',
                    render: (data, type, row) => {
                        return formatEuro.format(data);
                    }
                }, ],
                paging: false,
                deferRender: true,
                scroller: true,
                scrollY: "50vh",
                order: [
                    [3, 'desc']
                ],
            });

            $('#table-drinks').DataTable({
                data: drinks,
                columns: [{
                    title: 'Timestamp',
                    data: 'timestamp',
                    render: (data, type, row) => {
                        return moment(data).format('YYYY-MM-DD HH:mm:ss');
                    }
                }, {
                    title: 'Name',
                    data: 'name'
                }, {
                    title: 'Prename',
                    data: 'prename'
                }, {
                    title: 'Email',
                    data: 'email'
                }, {
                    title: 'Price',
                    data: 'price',
                    render: (data, type, row) => {
                        return formatEuro.format(data);
                    }
                }, ],
                paging: false,
                deferRender: true,
                scroller: true,
                scrollY: "50vh",
                order: [
                    [0, 'desc']
                ],
            });

            $('#table-disabled').DataTable({
                data: bills_disabled,
                columns: [{
                    title: 'Name',
                    data: 'name',
                    render: (data, type, row) => {
                        return `<a href="/edituser.html?tag=${row['tag']}">${data}</a>`;
                    }
                }, {
                    title: 'Prename',
                    data: 'prename'
                }, {
                    title: 'Email',
                    data: 'email'
                }, {
                    title: 'Bill',
                    data: 'bill',
                    render: (data, type, row) => {
                        return formatEuro.format(data);
                    }
                }, ],
                paging: false,
                deferRender: true,
                scroller: true,
                scrollY: "50vh",
                order: [
                    [0, 'desc']
                ],
            });
        });
    </script>
{% endblock header %}

{% block title %}
    <h1>Data Overview</h1>
{% endblock title %}

{% block main_content %}
    <div class="d-flex flex-column">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active"
                        id="nav-bills-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#nav-bills"
                        type="button"
                        role="tab"
                        aria-controls="nav-bills"
                        aria-selected="true">Bills</button>
                <button class="nav-link"
                        id="nav-drinks-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#nav-drinks"
                        type="button"
                        role="tab"
                        aria-controls="nav-drinks"
                        aria-selected="false">Drinks</button>
                <button class="nav-link"
                        id="nav-disabled-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#nav-disabled"
                        type="button"
                        role="tab"
                        aria-controls="nav-disabled"
                        aria-selected="false">
                    Disabled
                    Accounts
                </button>
            </div>
        </nav>
        <div class="tab-content mt-3">
            <div class="tab-pane fade show active w-100"
                 id="nav-bills"
                 role="tabpanel"
                 aria-labelledby="nav-bills-tab"
                 tabindex="0">
                <table id="table-bills"
                       class="display table table-striped table-hover"
                       style="width: 100%">
                </table>
            </div>
            <div class="tab-pane fade w-100"
                 id="nav-drinks"
                 role="tabpanel"
                 aria-labelledby="nav-drinks-tab"
                 tabindex="0">
                <table id="table-drinks"
                       class="display table table-striped table-hover"
                       style="width: 100%">
                </table>
            </div>
            <div class="tab-pane fade w-100"
                 id="nav-disabled"
                 role="tabpanel"
                 aria-labelledby="nav-disabled-tab"
                 tabindex="0">
                <table id="table-disabled"
                       class="display table table-striped table-hover"
                       style="width: 100%">
                </table>
            </div>
            <div class="tab-pane fade w-100"
                 id="nav-webex"
                 role="tabpanel"
                 aria-labelledby="nav-webex-tab"
                 tabindex="0">
                <table id="table-webex"
                       class="display table table-striped table-hover"
                       style="width: 100%">
                </table>
            </div>
        </div>
    </div>
{% endblock main_content %}
