{% extends "_base.html" %}

{% block header %}
    <script>
        socket.off('card_connected');
    </script>
    <script>
        /* beautify ignore:start */
        var balance = {{ user.balance }};
        /* beautify ignore:end */

        $(() => {
            $(".btn-pay").click(function() {
                const amount = $(this).html();
                if (amount == "X") {
                    simple_keyboard_process();
                } else {
                    $("#modal-confirm-amount").html(amount);
                    $("#modal-confirm").modal("show");
                }
            })
        });

        function doPayment() {
            $("#modal-confirm").modal("hide");
            const amount = $("#modal-confirm-amount").html();
            $("#modal-thanks-amount").html(amount);
            $.post(window.location.href, {
                amount: amount
            }, (data) => {
                $("#modal-thanks-balance").html(data);
                $("#modal-thanks").modal("show");
            });
        }
    </script>

    <style>
        .btn-pay::after {
            content: "\00a0€";
        }
    </style>
{% endblock header %}

{% block main_content %}
    <div class="d-flex flex-column ml-5 my-4 w-100">
        <h4 class="mt-4">Your balance:</h4>
        <h1>{{ "%.2f €" | format(user.balance) }}</h1>
        <h4 class="my-4">Pay:</h4>
        <div class="d-flex justify-content-around mr-5">
            <button class="btn-big btn-pay">5</button>
            <button class="btn-big btn-pay">10</button>
            <button class="btn-big btn-pay">20</button>
            <button class="btn-big btn-pay">50</button>
            <button class="btn-big btn-pay">X</button>
        </div>
        <p class="mt-3">Hint: If you want to undo a payment enter a custom negative value.</p>
    </div>
{% endblock main_content %}

{% block post_body %}
    <!-- Modal confirm -->
    <div class="modal fade"
         id="modal-confirm"
         tabindex="-1"
         role="dialog"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content p-3">
                <div class="modal-header">
                    <div class="h2 modal-title">
                        <i class="fas fa-exclamation-triangle"></i> Confirmation required
                    </div>
                </div>
                <div class="modal-body">
                    <p class="h5 font-weight-normal">
                        Note that this is not actual payment! Did you really deposit the amount of
                        <span id="modal-confirm-amount" class="h4"></span> €?
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="doPayment()">Confirm</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Abort</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal thanks-->
    <div class="modal fade"
         id="modal-thanks"
         tabindex="-1"
         role="dialog"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content p-3">
                <div class="modal-header">
                    <h3>Thanks!</h3>
                </div>
                <div class="modal-body">
                    <h3>
                        Thanks for paying <span id="modal-thanks-amount" class="h2">{{ payed }}</span> €.
                    </h3>
                    <div class="d-flex flex-column justify-content-center text-center h-100">
                        <div class="display-1 fas fa-hand-holding-usd my-3"></div>
                    </div>
                    <h3>
                        Your new balance is: <span id="modal-thanks-balance"></span> €.
                    </h3>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-default"
                            onclick="window.location.replace('../coffee.html?' + window.location.search.substr(1))">
                        Ok
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Keyboard -->
    {{ simple_keyboard(layout="currency") }}
    <script>
        $(() => {
            myKeyboard.options.onChange = onChange;
            myKeyboard.options.onKeyPress = onKeyPress;

            function validateInput(input) {
                if (!input || isNaN(input)) {
                    $("#simple-keyboard-input").removeClass("is-valid");
                    $("#simple-keyboard-input").addClass("is-invalid");
                    return false;
                } else {
                    $("#simple-keyboard-input").removeClass("is-invalid");
                    $("#simple-keyboard-input").addClass("is-valid");
                    return true;
                }
            }

            function onChange(input) {
                $("#simple-keyboard-input").val(input);
                validateInput(input);
            }

            $("#simple-keyboard-input").keypress(() => {
                var input = $("#simple-keyboard-input").val();
                validateInput(input);
                myKeyboard.setInput(input);
            });

            function onKeyPress(button) {
                if (button == "{enter}") {
                    const amount = $("#simple-keyboard-input").val();
                    if (validateInput(amount)) {
                        $("#modal-simple-keyboard").modal("hide");
                        $("#modal-confirm-amount").html(amount);
                        $("#modal-confirm").modal("show");
                    }
                } else if (button == "{abort}") {
                    $("#modal-simple-keyboard").modal("hide");
                }
            }
        });
    </script>
{% endblock post_body %}
