{% extends "_base.html" %}

{% block header %}
    <script>
        function plotlyLoaded() {
            /* beautify ignore:start */
            const drinks_this_week = {{ user.drinks_this_week() | tojson }};
            const drinks_avg_week = {{ user.drinks_last_weeks() | tojson }};
            const drinks_avg_week_all = {{ user.drinks_last_weeks_all() | tojson }};
            /* beautify ignore:end */
            const data = [{
                x: drinks_avg_week_all[0],
                y: drinks_avg_week_all[1],
                type: 'bar',
                name: 'All (3 month average)',
                marker: {
                    color: '#ecd9d1b0',
                    line: {
                        color: '#ecd9d1',
                        width: 1.5,
                    }
                },
            }, {
                x: drinks_avg_week[0],
                y: drinks_avg_week[1],
                type: 'bar',
                name: 'You (3 month average)',
                marker: {
                    color: '#985e49b0',
                    line: {
                        color: '#985e49',
                        width: 1.5,
                    }
                },
            }, {
                x: drinks_this_week[0],
                y: drinks_this_week[1],
                type: 'bar',
                name: 'You (this week)',
                marker: {
                    color: '#c6978eb0',
                    line: {
                        color: '#c6978e',
                        width: 1.5,
                    }
                },
            }, ];
            const layout = {
                font: {
                    color: "#ecd9d1",
                },
                title: 'Your Coffee Stats',
                showlegend: true,
                legend: {
                    orientation: 'h',
                },
                barcornerradius: 30,
                plot_bgcolor: 'rgba(0,0,0,0)',
                paper_bgcolor: 'rgba(0,0,0,0)',
                margin: {
                    t: 75,
                    b: 50,
                    l: 45,
                    r: 30,
                },
                xaxis: {
                    color: "#ecd9d1",
                },
                yaxis: {
                    color: "#ecd9d1",
                    gridcolor: "#ecd9d150",
                }
            };
            const config = {
                displayModeBar: false
            };
            Plotly.newPlot('stats', data, layout, config);
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/2.35.3/plotly.min.js"
            async
            onload="plotlyLoaded();"
            integrity="sha512-7H/XbvOmUsf6mawBvmmx9BsPt9ew2NTwQ3QDSzNe6iyacDbCJU+7pBbZY1NdmTpuj7snxSsXasMYMiR2tv906g=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
{% endblock header %}

{% block main_content %}
    <div id="stats"></div>
{% endblock main_content %}
