<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.6.0-dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-free-5.15.2-web/css/all.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='coffeetag.css') }}">
        <script src="{{ url_for('static', filename='jquery-3.6.0.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap-4.6.0-dist/js/bootstrap.bundle.min.js') }}"></script>
        <script>
         $(() => {
            $('#add-btn').click(() => {
                window.location.href = '../edituser.html?tag={{ uuid }}';
            });
         });
        </script>
    </head>
    <body>
        <div class="d-flex flex-column justify-content-center text-center h-100">
            <h1 class="display-1">Card not found</h1>
            <code class="display-1">{{ uuid }}</code>
            <div class="d-flex justify-content-center text-center">
                <button id="add-btn" class="display-2 px-4 py-3 btn-primary fas fa-user-plus"></button>
            </div>
        </div>
    </body>
</html>
