<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-3.4.1-dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-3.4.1-dist/css/bootstrap-theme.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-free-5.15.2-web/css/all.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='coffeetag.css') }}">
        <script src="{{ url_for('static', filename='jquery-3.6.0.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap-3.4.1-dist/js/bootstrap.min.js') }}"></script>
    </head>
    <div id="container-main" class="container">
        <h3>Hi</h3>
        <h1>{{ user.prename }} {{ user.name }}</h1>
        <h4>Tag 0x{{ user.tag.hex() }}</h4>
        <div id="container-btn">
            <form method="post">
                <button type="submit" id="btn-coffee-one" class="btn-coffee color-berry" name="coffee" value="coffee">
                    <div class="btn-coffee-icon fas fa-coffee"></div>
                    <h3 class="color-berry">Take one coffee</h3>
                </button>
            </form>
        </div>
        <div id="container-info">
            <h2 class="inline">You had</h2>
            <div class="coffee-number-badge">{{ len(user.coffees) }}</div>
            <h2 class="inline">coffees in total.</h2>
        </div>
        <div id="container-info">
            <h2 class="inline">You had</h2>
            <div class="coffee-number-badge">{{ len(user.coffees_today) }}</div>
            <h2 class="inline">coffees today.</h2>
        </div>
    </div>
</html>
