<!doctype html>
{% set coffee_state = {
    0: 'fa-meh-blank',
    1: 'fa-surprise',
    2: 'fa-smile-wink',
    3: 'fa-smile-beam',
    4: 'fa-grin',
    5: 'fa-grin-wink',
    6: 'fa-grin-stars',
    7: 'fa-grimace',
} %}
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.6.0-dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-free-5.15.2-web/css/all.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='coffeetag.css') }}">
        <script src="{{ url_for('static', filename='jquery-3.6.0.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap-4.6.0-dist/js/bootstrap.bundle.min.js') }}"></script>
        <script>
         $(() => {
             if (window.location.search.search('notimeout') == -1)
             {
                 setTimeout(() => {
                     window.location.href = '../';
                 }, 5000);
                 setInterval(() => {
                     $('#timeout-container').children()[0].remove();
                 }, 1000);
             }
             $('#logout-btn').click(() => {
                 window.location.href = '../';
             });
         });
        </script>
    </head>
    <body>
        <div id="container-main-wrapper">
            <div id="container-main">
                <div class="coffeemeter-container">
                    <div class="position-relative h-100">
                        <div class="coffeemeter-title">
                            COFFEEMETER
                        </div>
                        <div class="coffeemeter-tag">
                            {{ len(user.coffees_today) }}
                        </div>
                        <div class="coffeemeter-baricon-container">
                            <div class="coffeemeter-baricon-icon fas {{ coffee_state[min(len(coffee_state) - 1, len(user.coffees_today))] }}"
                                 style="{{ 'color: var(--danger);' if len(user.coffees_today) >= len(coffee_state) }}">
                            </div>
                            <div class="coffeemeter-bar-container">
                                <div class="coffeemeter-bar-bar"
                                     style="height: {{ len(user.coffees_today) / len(coffee_state) * 100 | round }}%;
                                            {{ 'background: var(--danger); color: white;' if len(user.coffees_today) >= len(coffee_state) }}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="container-top">
                    <h3>Hi</h3>
                    <h1>{{ user.prename }} {{ user.name }}</h1>
                    <code class="h5">{{ hexstr(user.tag) }}</code>
                </div>

                <div id="container-bottom">
                    <div>
                        <form method="post">
                            <button type="submit" id="btn-pay" class="btn-pay" name="pay" value={{ config['PAY'] }}>
                                <div class="btn-pay-icon fas fa-euro-sign"></div>
                                <h4>I payed {{ config['PAY'] }} €</h4>
                            </button>
                        </form>
                    </div>
                    <div class="mt-2">
                        <h4>Your bill: {{ "%.2f €" | format(user.unpayed) }}</h4>
                    </div>
                </div>
            </div>
        </div>
        <div id="btn-coffee-container">
            <form method="post">
                <button type="submit" id="btn-coffee-one" class="btn-coffee color-berry" name="coffee" value="coffee">
                    <div class="btn-coffee-icon fas fa-coffee"></div>
                    <h3 class="color-berry">Take one coffee</h3>
                </button>
            </form>
        </div>
        <div id="timeout-container">
            <div class="fas fa-circle"></div>
            <div class="fas fa-circle"></div>
            <div class="fas fa-circle"></div>
            <div class="fas fa-circle"></div>
            <div class="fas fa-circle"></div>
        </div>
        <div id="logout-container">
            <button id="logout-btn" class="fas fa-sign-out-alt"></button>
        </div>
    </body>
</html>
